$background: #eeeeee;
$firstColor: #3392ca;
$secondColor: #ffffff;
$thirdColor: #6b6c6d;
$fourthColor: #8d8d8d;
$fifthColor: #434343;
$sixthColor: #202020;
$seventhColor: #6e6f70;
$eighthColor: #0c7bcb;
$ninthColor: #f6f4f4;
$tenthColor: #ff0000;
