$logo-url: url("~/static/img/logo.png");
$bg-cubos: url("~/static/img/bg-cubos.png");
$arrow-down: url("~/static/img/arrow-down.png");
$arrow-idioma: url("~/static/img/arrow-idioma.png");
$bg-home-principal: url("~/static/img/bg-home-principal.jpg");
$btn-menu-principal: url("~/static/img/btn-menu-principal.png");
$bg-services-principal: url("~/static/img/bg-services-principal.jpg");

