@import "../colors";
@import "../parameters";

html,
body,
#root {
  background-color: $background;
  height: 100%;
  padding: 0;
}

html,
body,
#root,
.page,
.header,
.body,
.footer {
  border: none;
  margin: 0;
}

.page {
  min-height: 100%;
  padding: 0;
  position: relative;
  width: 100%;
}

.header {
  background: $firstColor;
  display: flex;
  height: 10%;
  position: absolute;
  width: 100%;
}

.footer {
  background: $firstColor;
  bottom: 0;
  display: flex;
  height: 10%;
  position: absolute;
  width: 100%;
}
